<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Omat tiedot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/demo.css">
</head>
<body>
<div class=center>

	<h1>Omat tiedot</h1>
	<table>
	<tr>
		<td>Nimi</td>
		<td th:text="${henkilo.etunimi}+ ' ' +${henkilo.sukunimi}"></td>
		<td>Muokkaa</td>
	</tr>
	<tr>
		<td>Sähköposti</td>
		<td th:text="${henkilo.email}"></td>
		<td></td>
	</tr>
	<tr>
		<td>Puhelinnumero</td>
		<td th:text="${henkilo.puhelin}"></td>
		<td></td>
	</tr>
	<tr>
		<td>Tehtävänimike</td>
		<td th:text="${henkilo.tehtavaNimike}"></td>
		<td></td>
	</tr>
	<tr>
		<td>Koulutus</td>
		<td th:text="${henkilo.oppiarvo} +', '+ ${henkilo.oppilaitos} +', '+${henkilo.valmistumisvuosi}"></td>
		<td></td>
	</tr>
	<tr>
		<td>Kuvaus</td>
		<td>
			<textarea id="kuvaus_ta" th:text="${henkilo.kuvaus}" rows="4" cols="50">
			</textarea>
		</td>
		<td></td>
	</tr>
	<tr>
		<td>Käytettävissä uusiin projekteihin</td>
		<td>
			<div th:if="${henkilo.onkoKaytettavissa} == true">Kyllä</div>
			<div th:if="${henkilo.onkoKaytettavissa} == false">Ei</div>
		</td>
		<td></td>
	</tr>	
	<tr>
		<td>Teknologiaosaaminen</td>

		<td>
			<div th:each = "teknologia : ${teknologiat}" 
				th:text="${teknologia.teknologia}+', '+${teknologia.vuodet}+'v ' +${teknologia.kuukaudet}+'kk'"><br>
			</div>
		</td>
		<td>Lisää</td>
	</tr>
	<tr>
		<td>Serfikaatit</td>
		<td>
			<div th:each = "sertifikaatti : ${sertifikaatit}" 
				th:text="${sertifikaatti.sertifikaatinNimi}+', '+${sertifikaatti.myontaja}+', ' +${sertifikaatti.vuosi}"><br>
			</div>
		</td>
		<td>Lisää</td>
	</tr>	
	<tr>
		<td>Projektikokemus</td>
		<td>Projekti 1 <br> Projekti 2 <br> TODO jos jää aikaa</td>
		<td></td>
	</tr>		
	</table>
	
	
		
</div>


</body>
</html>