<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Etusivu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/demo.css">
</head>
<body>
<div class=center>

	<h1>Etusivu</h1>
	<p th:text="${henkilo.etunimi}+ ' ' +${henkilo.sukunimi}">
	<p th:text="${henkilo.email}">
	<p th:text="${henkilo.puhelin}">
	<p th:text="${henkilo.tehtavaNimike}">


</div>    	
</body>
</html>