<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Etusivu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">

	<h1>Etusivu</h1>
	    <table>
		<tr>
		    <th>Etunimi</th>
		    <th>Sukunimi</th>
		    <th>Puhelin</th>
		    <th>Email</th>
		    <th>Tehtavanimike</th>
		</tr>  
    	<tr th:each = "henkilo : ${henkilot}">
    		<td th:text="${henkilo.etunimi}"></td>
    		<td th:text="${henkilo.sukunimi}"></td>
    		<td th:text="${henkilo.puhelin}"></td>
    		<td th:text="${henkilo.email}"></td>
    		<td th:text="${henkilo.tehtavaNimike}"></td> 	
    	</tr>
     </table>


</div>    	
</body>
</html>